$blue-color: #1f2278;
$blueTwo-color:#ebe9fb;
$lightBlue-color:#797cd9;

$bg-color:#f7f7ff;
$bgtwo-color:#fefffe;

$orange-color: #f17732;

$white-color:#fff;
$black-color:#000;

$fontone-color:#1f2278;
$fontTwo-color:#5e5f61;

$button-color:#565bce;
