@import '../../Style/globels/colors';
@import '../../Style/globels/ainmations';

.sec {
    background-image: url(../../assets/bg-5.png);
     background-repeat: no-repeat;
     background-position: 50%;


    .text-header {
        h6 {
            background: url(../../assets/bg-about.png);
            display: inline-block;
            font-weight: 700;
            margin-bottom: 15px;
            color: $orange-color;
            font-size: 18px;
        }

        h2 {
            font-size: 45px;
            line-height: 1.3;
            color: $blue-color;
            font-weight: 700;
        }
    }

    .work-contant {
        padding-top: 1%;

        .work-one {
            background-color: $white-color;

            h3 {
                -webkit-text-stroke: 2px #f17732;
                color: transparent;
                text-shadow: 0 10px 0 #ffe3d3;
            }

            div {
                h5 {
                    color: $orange-color;
                }

                p {
                    color: $fontTwo-color;
                }
            }

            button {
                background-color: #e1e2f6;
                border: 2px solid #e1e2f6;
                color: #565acf;
                padding: 5px 13px;
                border-radius: 8px;

                i {
                    color: $button-color;
                    background: #fff;
                    margin-left: 10px;
                    border-radius: 8px;
                }
            }
        }

        .work-two {
            background-color: $orange-color;
            transform: translateY(-50px);

            @media (max-width: 992px) {
                transform: translateY(0px);
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                -ms-transform: translateY(0px);
                -o-transform: translateY(0px);
            }

            h3 {


                -webkit-text-stroke: 2px #fff;
                text-shadow: 0 10px 0 #f38f5e;
                color: transparent;
            }

            div {

                h5,
                p {
                    color: $white-color;

                }
            }

            button {
                background-color: $white-color;
                border: 2px solid $white-color;
                color: $orange-color;
                border-radius: 8px;
                padding: 5px 13px;

                i {
                    border-radius: 8px;
                    color: $white-color;
                    background: $orange-color;

                    margin-left: 10px;
                }
            }

        }

        .work-one,
        .work-two {
            @media (max-width: 575px) {
                margin-top: 5%;
            }

            border-radius: 20px;
            box-shadow: 0 10px 60px 0 rgba(31, 34, 120, .1);
            width: 300px;
            padding: 40px 30px;
            position: relative;
            transition: all .10s;
            z-index: 1;
            -webkit-transition: all .10s;
            -moz-transition: all .10s;
            -ms-transition: all .10s;
            -o-transition: all .10s;
            position: relative;
            overflow: hidden;
            margin-left: 2%;

            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                right: 0;
                top: 0;
                transform-origin: top;
                -moz-transform-origin: top;
                -ms-transform-origin: top;
                -webkit-transform-origin: top;
                -o-transform-origin: top;
                transition: all .5s;
                width: 100%;
                z-index: -1;
            }

            &:hover::before {
                animation: slideUp 0.5s forwards;
                background-color: #f17732;
                color: $white-color;


            }

            &:hover>h3,
            &:hover>div h5,
            &:hover>div p {
                color: $white-color;

            }

            &:hover>button {
                background-color: $white-color;
                border: 2px solid $white-color;
                color: $orange-color;

                i {
                    color: $white-color;
                    background: $orange-color;

                }
            }


        }

        .work-one,
        .work-two {
            h3 {

                font-size: 80px;
                font-weight: 900;
                line-height: 80px;
                margin-bottom: 30px;

                transition: all .5s;
            }

            div {
                h5 {

                    font-size: 20px;
                    font-weight: 700;
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    margin-bottom: 30px;

                }
            }

            button {

                text-align: center;

                i {

                    border-radius: inherit;
                    display: inline-block;
                    height: 40px;
                    line-height: 40px;

                    width: 40px;
                }
            }
        }


    }
}